*{
margin: 0;
padding: 0;
font-family: century gothic;

}
body{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("subhajit.jpg");
	height:100vh;
	background-size: cover;
	background-position: center
	background-repeat: no-repeat;
	box-sizing: border-box;
	font-family:sans-serif;
}
.main{
	font-size:60px;
	color: #fff;
	position: absolute;
	top:8%;
	left:8%;
	border:6px solid white;
	border-radius:40px;

}